<ion-header>
  <ion-toolbar>
    <ion-title>
    MEDITATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>A meditação pode ser definida como uma prática na qual o indivíduo utiliza técnicas para focar sua mente num objeto, pensamento ou atividade em particular, visando alcançar um estado de clareza mental e emocional.</p>
  <ion-item>
      <ion-label>Tipos de Meditação</ion-label>
      <ion-select placeholder="Seleção">
        <ion-select-option value="mg">Meditação Guiada</ion-select-option>
        <ion-select-option value="ma">Meditação para ansiedade</ion-select-option>
        <ion-select-option value="md">Meditação para dormir</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-button href="meditacaoguiada">ir para Meditação guiada</ion-button>
</ion-content>
