<ion-header>
  <ion-toolbar>
    <ion-title>
      MEDITATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p> A meditação guiada consiste em áudios com músicas relaxantes e uma narração que sugere o que o praticante deverá fazer. Nos videos abaixo você poderá ver exemplos desse tipo de meditação.</p>
<a href="https://www.youtube.com/watch?v=SHnYqLEbdCw">Meditação Guiada - 10 minutos | Direta e profunda</a><br>

<a href="https://www.youtube.com/watch?v=kcl87gRy07w">Meditação Guiada 5 minutos</a><br>
</ion-content>
